@import "~bootstrap/scss/bootstrap.scss";

.container{
    text-align: center;
    background: black;
}

.container div{
    display: inline-block;
    font-size: 60px;
    line-height: 80px;
    background: black;
    color: white;
    padding:20px;
    margin:3px;
}